*{
	margin: 0px;
	padding: 0px;
}

html {
	scroll-behavior: smooth;
}

body{
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	position: relative;
	min-height: 100vh;
}

header {
	height: 140px;
	width: 100%;
	background-color: #fafafa;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav{
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
		font-size: 16px;
		letter-spacing: 2pt;
	display: flex;
	list-style: none;
	align-items: center;
	margin-right: 45px;
	
}

.nav a:hover{
	text-decoration: line-through;
	color: inherit;    
 }
.nav a{
	text-decoration: none;
	color: inherit;   
	/* text-underline-position: under;   */
 }


 
 .nav li {
	/* margin-left: 3%; */}

#logo-linkedin {
    width: 5px;
    height: 5px;
    margin-bottom: 21px;
    
}

.text-presentation {
	font-family: Helvetica Neue;
	font-weight: 70;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1pt;
	line-height: 30px;
	margin-top: -10px;
	background: #fafafa;
	padding-bottom: 35px;
	margin-bottom: 20px;
}


.logo {
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 5pt;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-left: 30px;
}

.logo-page {
	left: calc(50% - 25px);
	position: absolute;
	margin-left: -20px;
}



.menu {
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 16px;
	letter-spacing: 2pt;
}


.parrafo{
	text-align: center;
	font-size: 20px;
}

.cards-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.card-article-container{
	display: flex;
	flex-direction: row;
	padding: 20px;
	/* width: 50%; */
	/* height: 500px; */
	/* margin-top: 24px; */
}

.card-article { 
	width: 600px;
	height: 350px;
	border-radius: 3px;
	box-shadow: 0px 2px 5px #fafafa;
	transition: all 0.17s;
	background-image: url('../img/phytool.png');
	background-size: cover;
	position: relative;
}

.article-text {
	display: none;
}


.article-text:hover {
	position: absolute;
	top: 5%;
	left: 5%;
	display: block;
	z-index: 3;
}


.card-article:hover { 
	transition: all 0.17s;
	transform: scale(1.02);
	box-shadow: 0px 5px 10px rgba(107, 107, 107, 0.35);
	cursor: grab;
}

.card-article:hover > .article-text { 
	position: absolute;
	top: 8%;
	left: 5%;
	display: block;
	color: white;
	font-size: 18px;
}
.salto-texto {
	margin-top: 50px;
}

.blur {
	display: none;
	position: relative;
	width: 600px;
	height: 350px;
}

.color-hover {
	/* opacity: 0.5; */
	width: 100%;
	height: 100%;
	position: absolute;
}


/* 
.color-hover:hover {
	width: 100%;
	height: 100%;
	position: absolute;
	filter: blur(1.5rem);
} 
*/

.card-article:hover > .article-text { 
	position: absolute;
	top: 5%;
	left: 5%;
	display: block;
	z-index: 15;
}

.blur:hover { 
	display: none;
	/* width: 100%;
	height: 100%;
	display: block; */
	/* filter: blur(1.5rem); */
}

.card-article:hover > .blur { 
	width: 100%;
	height: 100%;
	display: block;
	filter: blur( 5px);
	/* brightness:(60%); */
	z-index: 5;
}

.card-article-fake-background {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
}

.card-article:hover .card-article-fake-background {
	background-color: rgba(0,0,0,0.5);
}

footer { 
	width: 100%;
	font-family: Helvetica Neue;
	font-weight: 70;
	font-size: 13px;
	letter-spacing: 0.8pt;
	display: flex;
	justify-content: center;
	align-self: flex-end;
	position: absolute;
	padding-bottom: 15px;
	bottom: 0;
}

.footer-text {
	margin: 0 auto;
}